<header class="row align-items-center justify-content-center">
    
    <section class="col-1">
        <button>
            <i class="fa-brands fa-instagram"></i>
            
        </button>
        <button>
            <i class="fa-brands fa-facebook"></i>
        </button>
        <button>
            <i class="fa-brands fa-whatsapp"></i>
        </button>
    </section>
    <section class="col-3">
        <img width="auto" height="200px" src="assets/pronoia.png" alt="logo-pronoia" />
    </section>
    <section class="col-2">
        <h2>servicios</h2>
    </section>
    <section class="col-2">
        <h2>sobre nosotros</h2>
    </section>
    <section class="col-2">
        <h2>donde encontrarnos</h2>
    </section>

</header>