<header>
    <div class="container-fluid row align-items-center nav-bar">
    <section class="container d-flex justify-content-center col-2">
        <button class="align-self-center mx-1 btn">
            <i class="fa-brands fa-instagram"></i>
        </button>
        <button class="align-self-center mx-1 btn" >
            <i class="fa-brands fa-facebook"></i>
        </button>
        <button class="align-self-center mx-1 btn">
            <i class="fa-brands fa-whatsapp"></i>
        </button>
    </section>
    <section class="col-3 icon-img">
        <img width="auto" height="200px" src="assets/pronoiaviajes.png" alt="logo-pronoia" />
    </section>
    <section class="col-6 row justify-content-center">
        <h4 class="mx-2">servicios</h4>
        <h4 class="mx-2">sobre nosotros</h4>
        <h4 class="mx-2">donde encontrarnos</h4>
    </section>
</div>

</header>