<div class="row justify-content-center">
<section>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3639.407396793538!2d-65.29842142541206!3d-24.192507385081104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941b0f507432bc49%3A0x90f23f331818e46e!2sLeandro%20N.%20Alem%20425%2C%20Y4600%20San%20Salvador%20de%20Jujuy%2C%20Jujuy!5e0!3m2!1ses-419!2sar!4v1729525008974!5m2!1ses-419!2sar"
 width="300" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
</div>


<div class="footer-contact text-center">
    <p>Dirección: Calle Falsa 123, jujuy, Argentina</p>
    <p>Teléfono: +54 11 1234-5678</p>
    <p>Email: contacto&#64;gmail.com</p>
</div>

<div class="footer text-center">
    <p class="copy">&copy; 2024 TuEmpresa. Todos los derechos reservados.</p>
    <p>Diseñado por <a href="https://tuweb.com">Bur-god</a></p>
</div>
