<!-- <section class="container-fluid" id="Quienes">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4 card-img">
                <img src="assets/swain.png" class="img-fluid rounded-start" alt="fundador-equipo">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" id="aboutUs">¿Quienes somos?</h5>
                    <p class="card-text">Somos una empresa de viaje ubicada en San Salvador de Jujuy - Jujuy,
                        formado por profesionales en el ambito de la actividad fisica y turismo.
                        Ofrecemos viajes a distintos destinos de la region
                        a lo largo del año a un precio accesible para el publico general.
                    </p>

                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row g-0">

            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Nuestro objetivo</h5>
                    <p class="card-text" >Nuestro equipo está compuesto por expertos en viajes y profesionales locales
                        que conocen a la perfección cada destino.
                        Ofrecemos una amplia gama de servicios, desde la planificación y reserva de viajes hasta la
                        asistencia en destino, garantizando una atención al cliente excepcional en cada paso del camino.
                        Nuestra misión es enriquecer la vida de nuestros clientes proporcionándoles recuerdos y
                        experiencias de viaje invaluables. Nos enorgullecemos de un servicio de alta calidad, innovación
                        constante y un fuerte compromiso con la sostenibilidad y la responsabilidad social.
                        Confíe en nosotros para hacer realidad sus sueños de viaje y descubrir el mundo de una manera
                        auténtica y memorable. ¡Bienvenido a nuestra empresa de turismo!</p>

                </div>
            </div>
            <div class="col-md-4 align-self-center justify-content-center card-img">
                <img src="assets/Malzahar_0.jpg" class="img-fluid rounded-start" alt="local-equipo">
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4 card-img">
                <img src="assets/swain.png" class="img-fluid rounded-start" alt="fundador-equipo">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" id="aboutUs">Nuestro Equipo</h5>
                    <p class="card-text">Somos una empresa de viaje ubicada en San Salvador de Jujuy - Jujuy,
                        formado por profesionales en el ambito de la actividad fisica y turismo.
                        Ofrecemos viajes a distintos destinos de la region
                        a lo largo del año a un precio accesible para el publico general.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="container-fluid informacion-body" id="Quienes">
    <div class="row presentacion justify-content-around">
        <div class="col-md-6 col-sm-12">
            <span class="subtitle">Quienes somos</span>
            <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto, possimus molestiae? Voluptatem ad facilis dolore, aliquam sed tempore sint dicta obcaecati blanditiis possimus culpa recusandae sunt qui atque quam tempora!</p>
        </div>
        <div class="col-md-6 col-sm-12">
            <span class="subtitle">Nuestro Objetivo</span>
            <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto, possimus molestiae? Voluptatem ad facilis dolore, aliquam sed tempore sint dicta obcaecati blanditiis possimus culpa recusandae sunt qui atque quam tempora!</p>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row g-0 justify-content-center">
            <div class="col-md-4 card-img">
                <img src="assets/swain.png" class="img-team img-fluid rounded-start" alt="fundador-equipo">
            </div>
            <div class="col-md-7 justify-content-center align-self-center">
                <div class="card-body">
                    <h5 class="card-title" id="aboutUs">Nuestro Equipo</h5>
                    <p class="card-text">Somos una empresa de viaje ubicada en San Salvador de Jujuy - Jujuy,
                        formado por profesionales en el ambito de la actividad fisica y turismo.
                        Ofrecemos viajes a distintos destinos de la region
                        a lo largo del año a un precio accesible para el publico general.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>