
<div class="row align-items-center " style="width:100%; overflow-x: hidden;" id="Servicio">
    <div class="image-container col-4">
      <div
        id="carouselExampleSlidesOnly"
        class="carousel slide"
        data-ride="carousel"
      >
        <div class="carousel-inner">
          <div
            *ngFor="let photo2 of photos2; let i = index"
            [class]="i === 0 ? 'carousel-item active' : 'carousel-item'"
          >
            <img class="d-block w-100" [src]="photo2.src" [alt]="photo2.alt" />
            <h2 class="">Bariloche</h2>
            <p class="card-text descr">Llegas a Bariloche y te alojas en un acogedor hotel con vistas al lago Nahuel Huapi.
               Paseas por el centro, famoso por su arquitectura alpina y sus chocolaterías. 
               Al día siguiente, te deslizas por la nieve en culopatín y esquías en el Cerro Catedral, 
               disfrutando de los impresionantes paisajes nevados. Haces una excursión al Circuito Chico,
                maravillándote con los lagos y bosques.
                 Te despides de Bariloche con el corazón lleno de recuerdos inolvidables 
                 y la promesa de regresar algún día.</p>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="image-container col-4">
        <div
          id="carouselExampleSlidesOnly"
          class="carousel slide"
          data-ride="carousel"
        >
          <div class="carousel-inner">
            <div
              *ngFor="let photo of photos; let i = index"
              [class]="i === 0 ? 'carousel-item active' : 'carousel-item'"
            >
              <img class="d-block w-100" [src]="photo.src" [alt]="photo.alt" />
              <h2>vacio</h2>
              <p class="descr">es morado y oscuro</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="image-container col-4">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div
              *ngFor="let photo3 of photos3; let i = index"
              [class]="i === 0 ? 'carousel-item active' : 'carousel-item'"
            >
              <img class="d-block w-100" [src]="photo3.src" [alt]="photo3.alt" />
              <h2 class="title text-center">Swain</h2>
              <p class="descr">poderoso asombroso</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

