.image-container {
    
    width: 100%;
    max-width: 600px; 
  }
  
  .image {
    width: 100%;
    height: 500px;
  }
  
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    text-align: center; 
  }
.descr{
  background-color: aquamarine;
  font-family: cursive;
  
}
.carousel-item img {
  width: 100%;
  height: auto;
  max-width: 500px;
  max-height: 500px;
  object-fit: cover;
}
  

  