<div class="galery-color">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 somos" style="background-color: #ffccff; padding: 20px">
      <h2>Quienes somos!</h2>
      <p>En Pronoia, somos apasionados por la aventura y la exploración. 
        Nuestra empresa de viajes y turismo se dedica a proporcionar experiencias únicas
         e inolvidables a nuestros clientes. Creemos que cada viaje es una oportunidad 
         para descubrir nuevas culturas,
         disfrutar de paisajes impresionantes y crear recuerdos duraderos.
       </p>
    </div>
    <div class="col-md-6 somos">
      <img src="assets/bariloche1.jpg" class="img-fluid" alt="urabe">
    </div>
  </div>
</div>
<div class="container">
  
    <div class="row g-0">
      <div class="col-md-6 somos">
        <img
          src="assets/parque_iguazu.jpg"
          class="img-fluid rounded-start"
          alt="malza"
        />
      </div>
      <div class="col-md-6 somos" style="background-color: #ffccff; padding: 20px">
        
          <h2>objetivo</h2>
          <p>Nuestra misión es enriquecer la vida de nuestros
            clientes proporcionándoles recuerdos y experiencias de viaje invaluables.
            Nos enorgullecemos de un servicio de alta calidad, innovación constante y
            un fuerte compromiso con la sostenibilidad y la responsabilidad social.
            Confíe en nosotros para hacer realidad sus sueños de viaje y descubrir el
            mundo de una manera auténtica y memorable. ¡Bienvenido a nuestra empresa
            de turismo!</p>
          
        </div>
      
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col-md-6" style="background-color: #ffccff; padding: 20px">
      <h2>Nuestro Equipo!</h2>
      <p>Nuestro equipo está compuesto por expertos en viajes y profesionales
        locales que conocen a la perfección cada destino. Ofrecemos una amplia
        gama de servicios, desde la planificación y reserva de viajes hasta la
        asistencia en destino, garantizando una atención al cliente excepcional en
        cada paso del camino.
       </p>
    </div>
    <div class="col-md-6 somos">
      <img src="assets/urabe.png" class="img-fluid" alt="urabe">
    </div>
  </div>
</div>

</div>

