.image-container {
    position: relative;
    width: 100%;
    max-width: 200px; /* Ajusta el ancho máximo si lo deseas */
  }
  
  .image {
    width: 100%;
    height: auto;
  }
  .somos {
    padding: 1px;
  }
  .galery-color {
    background-color: #2ecc71

  }