/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background-color: whitesmoke;
}
:root{
    --color-1: #A0D7BB;
    --color-2: #34956a;
    --color-3: #34956a;
    --color-9:#0b231a;
    --bg-color-1: #f0f9f4;
    
}